:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  /* overflow-y: hidden */
}


h1 {
  font-weight: 600;
  display: inline;
  font-size: 21px;
  line-height: normal;
}

h2 {
  font-weight: 400;
  display: inline;
  font-size: 16px;
}

p {
  margin: 0;
  line-height: 16px;
}

label {
  font-size: 14px;
  font-weight: 450;
  display: block;
  margin-top: 7px;
}

body {
  margin: 0px;
}

.page {
  padding: 12px;
}

.textInput {
  height: 28px;
  margin-top: 4px;
  padding: 6px 3%;

  border-radius: 10px;
  border: none;
  width: 95.5%;

  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);

  font-weight: 600;
}

.circleBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.hidden {
  display: none;
  background-color: pink;
}

.nav-header-mobile {
  position: relative;
  display: flex;
  justify-content: end;
  gap: 4vw;
  z-index: 200;
}

.nav-menu-mobile {
  background-color: rgba(197, 197, 197, 0.45);

  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  z-index: 1;

  transition: left 1s;
}

.nav-menu-mobile-links {
  /* height: 100vh;
  height: 100dvh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-menu-mobile-open {
  left: 0vw;
}

.nav-menu-mobile-close {
  left: 100vw;
}

.nav-header-mobile-notification {
  position: relative;
}

.nav-header-mobile-notification-list {
  background-color: black;
  position: absolute;
  top: 100%;
  left: 60%;
  width: 90vw;
  transform: translateX(-80%);
}


.clubsearchresults {
  position: absolute;
  background-color: rgb(0, 0, 0);
  max-height: 200px;
  width: 150px;
  overflow: auto;
}

.unreadNotification {
  background-color: rgba(41, 135, 135, 0.153);
}

.readNotification {
  background-color: rgba(244, 244, 244, 0.153);
}



/* active readings list */
.activeReadings-reading {
  position: relative;
  /* background-color: grey; */
  display: grid;
  grid-template-columns: 2.5fr 5fr 1fr;
  grid-template-rows: 16px 32px auto;
  grid-template-areas:
    'img bookName memberCount'
    'img clubName memberCount'
    'img progressOrOptInBtn progressOrOptInBtn';
  padding: 8px;
  gap: 8px;
}

.activeReadings-reading-img {
  grid-area: img;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.activeReadings-reading-img-noimg {
  object-fit: fill;
  border: solid rgba(0, 0, 0, 0.373) 1px;
}

.activeReadings-reading-bookname {
  grid-area: bookName;
  font-size: 16px;
  font-weight: 600;
}

.activeReadings-reading-clubname {
  grid-area: clubName;
  font-size: 14px;
}

.activeReadings-reading-membercount {
  grid-area: memberCount;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.userLogo {
  height: 25px;
  width: 25px;
}

.activeReadings-reading-progressOrOptInBtn {
  grid-area: progressOrOptInBtn;
  font-size: 16px;
}

.activeReadings-reading-OptInBtn {
  grid-area: progressOrOptInBtn;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: end;
}

.readingsListHeader {
  display: flex;
  gap: 5px;
  font-size: 12px;
}

.clubsListHeader {
  display: flex;
  gap: 5px;
  font-size: 12px;
}

.clubListEntry {
  display: grid;
  grid-template-areas:
    'profileimg clubName memberCount'
    'profileimg creator creator';
  grid-template-columns: 64px 5fr 1fr;
  grid-template-rows: 16px 48px;
  gap: 8px;
  text-decoration: none;
}

.clubListEntry-link {
  text-decoration: none;
  font-weight: 400;
}

.clubListEntry-profileImg {
  grid-area: profileimg;
  height: 64px;
  width: 100%;
  object-fit: fill;
}

.clubListEntry-name {
  grid-area: clubName;
  font-size: 16px;
  font-weight: 600;
}

.clubListEntry-length {
  grid-area: memberCount;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.clubListEntry-creator {
  grid-area: creator;
  font-size: 12px;
}

.clubsListMember {
  margin-bottom: 70px;
}

.createClubPage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.createClubBtn {
  background-color: aqua;
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createClubHeading {
  line-height: normal;
  text-align: center;
}

.createClubHeading p {
  margin-top: 7px;
  font-size: 14px;
}

.private {
  display: flex;
  align-items: center;
  height: 35px;
  gap: 7px;
}

.privateCheckboxInfo {
  display: inline;
  font-size: 12px;
}

/* Club home */
.clubPage {
  display: grid;
  grid-template-columns: 96px 5fr 1fr;
  grid-template-rows: 32px auto 24px 32px auto;
  grid-template-areas: 
    'clubImg clubName clubSettings'
    'clubImg clubDescription clubDescription'
    'clubNavBar clubNavBar clubNavBar'
    'outlet outlet outlet';
}

.clubNavBar {
  grid-area: clubNavBar;
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: center;
  padding: 7px;
  margin-top: 24px;
}

.clubName {
  grid-area: clubName;
  padding: 7px;
  align-self: center;
  margin: 0px;
}

.clubDescription {
  grid-area: clubDescription;
  font-size: 14px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  align-self: end;
}

.clubCreator {
  /* grid-area: clubCreator; */
  align-self: end;
  font-size: 12px;
  width: 100%;
  /* margin:0px 10px; */
}

.clubSettings {
  grid-area: clubSettings;
  justify-self: end;
  padding: 7px;
}

.clubImg {
  grid-area: clubImg;
  height: 96px;
  width: 96px;
  border-radius: 7px;
}

.readingsList {
  grid-area: outlet;
}

.barContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  /* padding: 10px; */
}

.bar {
  /* width: 99%; */
  margin-left: 0%;
}